.item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow-x: clip;
    overflow-y: visible;
}
.item::after {
    content: "";
    clear: both;
    display: table;
}

.inner_item {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.thumbnail_wrapper {
    height: 32px;
    aspect-ratio: 16/9;
    position: relative;
}
.thumbnail {
    object-fit: contain;
}

.name {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}
