.searchbar {
    background-color: #282828;
    height: 40px;
    border-radius: 40px; /*maximum = 20, but more won't do anything*/
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 10px;
}

.icon {
    margin-left: 10px;
    pointer-events: none;
    user-select: none;
    max-width: 24px;
}
.clear {
    position: absolute;
    right: 10px;
    z-index: 2;
    max-width: 24px;
    cursor: pointer;
    user-select: none;
}

.invisibleBacksupport {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: text;
    z-index: 0;
}

.input {
    line-height: 40px; /*required for vertically centering the text*/
    min-width: 100px;
    z-index: 1;
    flex: 1 1 min-content;
    background-color: transparent;
    color: #eeeeee;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0;
    padding-right: 10px;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
}
.input:empty::before {
    content: attr(placeholder);
    color: #555;
    cursor: text;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 44px;
    margin: 0;
    width: 33%;
    min-width: 240px;
    background-color: #333333;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 10;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestion {
    border-bottom: 1px solid #555;
    padding: 5px 10px;
}
.suggestionActive {
    background-color: #555;
}
.suggestion:last-child {
    border-bottom: none;
}
.suggestion:hover {
    background-color: #444;
}
.suggestion a {
    color: #eeeeee;
    text-decoration: none;
    pointer-events: all;
}

.author_item {
    align-items: center;
    display:flex;
    justify-content: flex-start;
}
.author_thumbnail {
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
    float: left;
}
.author_name {
    margin: 0px;
}
