.tag {
    flex: 1 1 min-content;
    max-width: max-content;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
    height: 80%;
    font-weight: 600;
    gap: 5px;
    align-items: center;
    overflow: hidden;

    display: inline-flex;
}

.kingdomTag div {
    max-height: 80%;
}

.authorTagImgWrapper {
    height: 80%;
    aspect-ratio: 1/1;
    position: relative;
}
.authorTagImg {}
.authorTagText {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}
